# Global Options
{
    tls tailscale

    log {
        output stdout
        level INFO
    }
}


https://bihar.manatee-basking.ts.net {
    reverse_proxy systemd-vaultwarden:80
}

https://100.67.189.41 {
    reverse_proxy systemd-vaultwarden:80
}

https://[fd7a:115c:a1e0::b801:bd2f] {
    reverse_proxy systemd-vaultwarden:80
}

https://bihar {
    reverse_proxy systemd-vaultwarden:80
}


:80 {
    redir https://{host}{uri}
}