[Container]
ContainerName=forgejo
Image=codeberg.org/forgejo/forgejo:11.0.1
PublishPort=8080:3000
PublishPort=2222:22
Volume=forgejo-data:/data:Z
Secret=forgejo-shared-secret,type=env,target=FORGEJO_SHARED_SECRET
Environment=ROOT_PASSWORD=admin1234
Exec=bash -c '(sleep 15 && su -c "forgejo forgejo-cli actions register --secret $FORGEJO_SHARED_SECRET" git && su -c "forgejo admin user create --admin --username root --password $ROOT_PASSWORD --email root@example.com" git) & exec /usr/bin/s6-svscan /etc/s6'

[Service]
Restart=on-failure
ExecStartPre=podman secret exists forgejo-shared-secret || openssl rand -hex 20 | podman secret create forgejo-shared-secret -

[Install]
WantedBy=default.target
